<br>
<app-assign-list></app-assign-list>

<div align="center">
  <br>
  <button (click)="add()" class="btn btn-outline-primary">Add new assignment</button>
  <br><br>
  <ul class="list-group">
    <li>
      <label class="col-form-label">Student ID:
        <input class="input-group" #studentID/></label>
    </li>
    <li>
      <label class="col-form-label">Problem ID:
        <input class="input-group" #problemID/></label>
    </li>
  </ul>
  <br>
  <button class="btn btn-outline-primary" (click)="filter(studentID.value, problemID.value)">Filter</button>
</div>
