<br>
<app-problem-list></app-problem-list>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<div align="center">
  <br>
  <button (click)="add()" class="btn btn-outline-primary">Add new problem</button>
  <br><br>
  <ul class="list-group">
    <li>
      <label class="col-form-label">Serial Number:
        <input class="input-group" #serialNumber/></label>
    </li>
    <li>
      <label class="col-form-label">Description:
        <input class="input-group" #description/></label>
    </li>
  </ul>
  <br>
  <button class="btn btn-outline-primary" (click)="filter(serialNumber.value, description.value)">Filter</button>
</div>

