<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<div align="center">

  <ul class="list-group">
    <li>
      <label class="col-form-label">New name (current: {{student.name}}):
        <input class="input-group" #name/>
      </label>
    </li>
    <li>
      <label class="col-form-label">New serial number (current: {{student.serialNumber}}):
        <input class="input-group" #serialNumber/>
      </label>
    </li>
    <li>
      <label class="col-form-label">New group (current: {{student.sgroup}}):
        <input class="input-group" #group/>
      </label>
    </li>
  </ul>
  <br>
  <table>
    <tr>
      <td>
        <button class="btn btn-outline-primary" (click)="save(name.value,serialNumber.value,group.value)">Save</button>
      </td>
      <td>
        <button class="btn btn-outline-primary" (click)="back()">Back</button>
      </td>
    </tr>
  </table>
</div>
