<h1 style="text-align: center">Problems</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<br>
<table class="problems table table-bordered">
  <tr>
    <th class="header">ID</th>
    <th class="header">Serial Number</th>
    <th class="header">Description</th>
  </tr>
  <tr *ngFor="let problem of problems"
      [class.selected]="problem === selectedProblem"
      (click)="updateSelected(problem)">
    <td>{{problem.id}}</td>
    <td>{{problem.serialNumber}}</td>
    <td>{{problem.descr}}</td>
  </tr>
</table>
<hr>
<ul class="nav nav-pills" >
  <li class="nav-item" *ngFor="let page of pages; let i=index">
    <a class="nav-link" href="" (click)="setPage(i, $event)"
       [ngClass]="{'active': i == pageNo}" >{{i}}</a>
  </li>
</ul>
<br>
<div align="center" *ngIf="selectedProblem">
  <table class="table-striped">
    <tr>
      <td>
        <button class="btn btn-outline-primary"
                (click)="update()">
          Update {{selectedProblem.serialNumber}}
        </button>
      </td>
      <td>
        <button class="btn btn-outline-primary"
                [class.delete]="true"
                (click)="delete();$event.stopPropagation()">
          Delete {{selectedProblem.serialNumber}}
        </button>
      </td>
    </tr>
  </table>
</div>
