td {
  text-align: center;
}

th {
  text-align: center;
  font-size: larger;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.problems {
}

.problems tr {
  cursor: pointer;
  background-color: #EEE;
}

.problems tr.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.problems tr:hover {
  color: #607D8B;
  background-color: #DDD;

}

.problems .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #607D8B;
}
