<h1>{{title}}</h1>

<div align="center">
  <nav>
    <a routerLink="/students" routerLinkActive="active">Students</a>
    <a routerLink="/problems" routerLinkActive="active">Problems</a>
    <a routerLink="/assignments" routerLinkActive="active">Assignments</a>
  </nav>
</div>
<router-outlet></router-outlet>

