<h1 style="text-align: center">Assignments</h1>
<br>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<table class="assigns table table-bordered">
  <tr>
    <th class="header">ID</th>
    <th class="header">Student ID</th>
    <th class="header">Problem ID</th>
  </tr>
  <tr *ngFor="let assign of assigns"
      [class.selected]="assign === selectedAssign"
      (click)="updateSelected(assign)">
    <td>{{assign.id}}</td>
    <td>{{assign.studentID}}</td>
    <td>{{assign.problemID}}</td>
  </tr>
</table>
<br>
<div align="center" *ngIf="selectedAssign">
  <table class="table-striped">
    <td>
      <button class="btn btn-outline-primary"
              (click)="update()">
        Update selected assignment
      </button>
    </td>
    <td>
      <button class="btn btn-outline-primary"
              [class.delete]="true"
              (click)="delete();$event.stopPropagation()">
        Delete selected assignment
      </button>
    </td>
  </table>
</div>
